In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [5]:
data = pd.read_csv("Advertising.csv")
print(data)

     Unnamed: 0     TV  Radio  Newspaper  Sales
0             1  230.1   37.8       69.2   22.1
1             2   44.5   39.3       45.1   10.4
2             3   17.2   45.9       69.3    9.3
3             4  151.5   41.3       58.5   18.5
4             5  180.8   10.8       58.4   12.9
..          ...    ...    ...        ...    ...
195         196   38.2    3.7       13.8    7.6
196         197   94.2    4.9        8.1    9.7
197         198  177.0    9.3        6.4   12.8
198         199  283.6   42.0       66.2   25.5
199         200  232.1    8.6        8.7   13.4

[200 rows x 5 columns]

In [6]:
dataset = pd.DataFrame(data)
dataset

     Unnamed: 0     TV  Radio  Newspaper  Sales
0             1  230.1   37.8       69.2   22.1
1             2   44.5   39.3       45.1   10.4
2             3   17.2   45.9       69.3    9.3
3             4  151.5   41.3       58.5   18.5
4             5  180.8   10.8       58.4   12.9
..          ...    ...    ...        ...    ...
195         196   38.2    3.7       13.8    7.6
196         197   94.2    4.9        8.1    9.7
197         198  177.0    9.3        6.4   12.8
198         199  283.6   42.0       66.2   25.5
199         200  232.1    8.6        8.7   13.4

[200 rows x 5 columns]

In [4]:
dataset.head(5)

   Unnamed: 0     TV  Radio  Newspaper  Sales
0           1  230.1   37.8       69.2   22.1
1           2   44.5   39.3       45.1   10.4
2           3   17.2   45.9       69.3    9.3
3           4  151.5   41.3       58.5   18.5
4           5  180.8   10.8       58.4   12.9

In [7]:
dataset.tail(5)

     Unnamed: 0     TV  Radio  Newspaper  Sales
195         196   38.2    3.7       13.8    7.6
196         197   94.2    4.9        8.1    9.7
197         198  177.0    9.3        6.4   12.8
198         199  283.6   42.0       66.2   25.5
199         200  232.1    8.6        8.7   13.4

In [8]:
dataset.columns

Index(['Unnamed: 0', 'TV', 'Radio', 'Newspaper', 'Sales'], dtype='object')

In [9]:
dataset.isnull()

     Unnamed: 0     TV  Radio  Newspaper  Sales
0         False  False  False      False  False
1         False  False  False      False  False
2         False  False  False      False  False
3         False  False  False      False  False
4         False  False  False      False  False
..          ...    ...    ...        ...    ...
195       False  False  False      False  False
196       False  False  False      False  False
197       False  False  False      False  False
198       False  False  False      False  False
199       False  False  False      False  False

[200 rows x 5 columns]

In [10]:
dataset.isnull().sum()

Unnamed: 0    0
TV            0
Radio         0
Newspaper     0
Sales         0
dtype: int64

In [12]:
dataset.describe()

       Unnamed: 0          TV       Radio   Newspaper       Sales
count  200.000000  200.000000  200.000000  200.000000  200.000000
mean   100.500000  147.042500   23.264000   30.554000   14.022500
std     57.879185   85.854236   14.846809   21.778621    5.217457
min      1.000000    0.700000    0.000000    0.300000    1.600000
25%     50.750000   74.375000    9.975000   12.750000   10.375000
50%    100.500000  149.750000   22.900000   25.750000   12.900000
75%    150.250000  218.825000   36.525000   45.100000   17.400000
max    200.000000  296.400000   49.600000  114.000000   27.000000

In [13]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  200 non-null    int64
 1   TV          200 non-null    float64
 2   Radio       200 non-null    float64
 3   Newspaper   200 non-null    float64
 4   Sales       200 non-null    float64
dtypes: float64(4), int64(1)
memory usage: 7.9 KB

In [14]:
dataset.head(3)

   Unnamed: 0     TV  Radio  Newspaper  Sales
0           1  230.1   37.8       69.2   22.1
1           2   44.5   39.3       45.1   10.4
2           3   17.2   45.9       69.3    9.3

In [15]:
dataset.columns

Index(['Unnamed: 0', 'TV', 'Radio', 'Newspaper', 'Sales'], dtype='object')

In [16]:
x= dataset[['TV', 'Radio', 'Newspaper']]
y= dataset['Sales']

In [17]:
from sklearn.model_selection import train_test_split

In [39]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2,random_state=60)

In [40]:
from sklearn.linear_model import LinearRegression

In [41]:
model = LinearRegression()

In [42]:
model.fit(x_train,y_train)

LinearRegression()

In [43]:
model.score(x_test,y_test)*100

90.99045150327531

In [46]:
model.predict(x)

array([20.2234448 , 12.38194416, 12.24090216, 17.45764539, 12.90316784,
       12.39303649, 11.88128239, 12.24345843,  3.95772383, 12.46519021,
        7.0664231 , 17.38353587, 10.48508044,  8.95155129, 18.29540401,
       20.69959914, 12.37257891, 22.972407  , 10.07934515, 14.22702594,
       17.87836648, 14.61325021,  6.44232666, 16.4548703 ,  8.25018896,
       15.47908406, 15.11919499, 16.97073216, 19.36154834,  9.10190402,
       21.41125787, 11.2838093 ,  7.58776648, 18.92347729,  7.67646038,
       16.92551322, 23.52443223, 15.67382149,  9.97246597, 20.39840228,
       16.29586417, 17.2338077 , 21.64803535, 13.85896801,  8.90992211,
       15.10730454,  8.82367292, 21.76739625, 16.01026314,  8.13978316,
       12.45754031,  9.49420299, 20.58929851, 19.79247109, 20.36574827,
       21.12849219,  8.58877629, 12.84472039, 21.87304527, 18.22141922,
        5.79238665, 22.67667661, 16.66990325, 13.40807274, 17.06150644,
        8.05035022,  9.30359576, 12.12895256, 19.01989086, 21.12660339,
       17.68540467, 10.6019302 , 10.57662228,  9.82867883, 17.37019702,
       11.64840334,  4.55577193, 13.94911388,  9.09795638,  9.67656524,
       11.56386413, 14.42454574, 10.20416067, 14.52702753, 20.75441766,
       14.86448809, 11.76212827, 15.45826141, 11.47020669, 16.89466357,
       10.06483138,  4.4904987 , 18.91952039, 20.88136317, 10.59786436,
       16.16352987, 12.65834181, 15.33147458, 23.89946696, 16.90184022,
       13.58334363, 22.66012239, 17.50942677, 14.7665609 , 20.40823619,
       17.8255854 ,  6.18255738,  7.10487306,  3.64164175, 19.75366931,
       14.43413616, 21.13822972, 13.99367428, 16.44891515, 15.4172185 ,
       12.86693216, 11.9666414 ,  6.63882264, 15.29454176,  6.95096842,
       14.30609708,  7.80298834, 13.55453044, 15.25321338, 19.09960696,
        9.15315653, 10.61780435,  6.69858332, 22.45068237,  7.82155971,
       10.75905327, 15.28458359,  8.76948298, 19.12134801, 11.7478272 ,
       14.31735705, 11.75475091, 20.5384565 ,  9.92721472, 19.89476538,
        9.63599945, 18.08097272, 19.15079548,  8.69334711, 10.03290405,
        9.75882016, 15.27221983, 23.15832356, 12.54037459,  9.98337798,
       18.14205307,  9.83689913, 16.40354176, 18.19825798, 15.57754083,
        5.54745281, 15.36182649,  9.95050714, 10.44961581, 12.34965175,
       14.15043548, 13.52219637, 14.90245149, 17.52559843, 11.21431495,
       13.68114345, 11.04502272, 13.29305615, 16.92254317, 17.90560103,
        7.50584142, 14.2012451 ,  7.78984662, 11.98903366, 13.69460849,
       24.66858097, 19.96021482, 12.03077314, 15.83404217, 12.38432427,
       10.62934064, 13.79382201,  6.56093159, 23.7803945 , 18.41465564,
       20.88761681,  9.62505156, 17.1202332 , 18.63762514,  6.16071491,
       12.80878593,  8.59069549,  4.49074675, 18.70340524, 16.68717972,
        5.49276254,  8.27722012, 12.84728672, 23.45215124, 15.16385412])

In [ ]:
44.5	39.3	45.1